## Pair Programming Encoding

En el pair programming de hoy usaremos el set de datos que guardast칠is en el pair programming de normalizaci칩n y estandarizaci칩n.

Vuestro set de datos deber칤a tener al menos una variable categ칩rica, el objetivo del pair programming de hoy:

- Hacer una c칩dificaci칩n de la/las variables categ칩ricas que teng치is en vuestro set de datos.

- Recordad que lo primero que deber칠is hacer es decidir su vuestras variables tienen o no orden, para que en funci칩n de esto us칠is una aproximaci칩n u otra.

- Guardad el dataframe, donde deber칤ais tener las variables estadandarizas, normalizadas y codificadas en un csv para usarlo en el pr칩ximo pairprogramming

Happy coding 游뱚游늵

In [14]:
import numpy as np
import pandas as pd
import random 
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.multivariate.manova import MANOVA
from sklearn.preprocessing import StandardScaler
import datetime 
import warnings
warnings.filterwarnings('ignore')
plt.rcParams["figure.figsize"] = (10,8)

In [15]:
sales = pd.read_csv('ficheros/sales4.csv')

In [16]:
sales.head(2)

,state,market,market_size,profit,margin,sales,cogs,total_expenses,marketing,inventory,budget_profit,budget_margin,budget_sales,product_type,product,a침o
0,Connecticut,East,Small Market,107.0,176.0,292.0,116.0,69.0,38.0,962.0,110.0,160.0,270.0,Coffee,Columbian,2010
1,Connecticut,East,Small Market,75.0,135.0,225.0,90.0,60.0,29.0,1148.0,90.0,130.0,210.0,Coffee,Columbian,2010

In [17]:
sales_cat = sales.select_dtypes(include = 'object') # columnas categ칩ricas
sales_cat.head(2)

         state market   market_size product_type    product
0  Connecticut   East  Small Market       Coffee  Columbian
1  Connecticut   East  Small Market       Coffee  Columbian

In [18]:
for i in sales_cat.keys():
    print(i)
    print('--------------------------------')
    print(sales_cat[i].unique())
    print('--------------------------------')

state
--------------------------------
['Connecticut' 'Washington' 'California' 'Texas' 'New York' 'Ohio'
 'Illinois' 'Louisiana' 'Florida' 'Wisconsin' 'Colorado' 'Missouri' 'Iowa'
 'Massachusetts' 'Oklahoma' 'Utah' 'Oregon' 'New Mexico' 'New Hampshire'
 'Nevada']
--------------------------------
market
--------------------------------
['East' 'West' 'South' 'Central']
--------------------------------
market_size
--------------------------------
['Small Market' 'Major Market']
--------------------------------
product_type
--------------------------------
['Coffee' 'Tea' 'Espresso' 'Herbal Tea']
--------------------------------
product
--------------------------------
['Columbian' 'Green Tea' 'Caffe Mocha' 'Decaf Espresso' 'Lemon' 'Mint'
 'Darjeeling' 'Decaf Irish Cream' 'Chamomile' 'Earl Grey' 'Caffe Latte'
 'Amaretto' 'Regular Espresso']
--------------------------------

In [19]:
top_ten_estado = sales.groupby('market')['profit'].agg(top_ten_estado=('sum'))
top_ten_estado =top_ten_estado.reset_index()
top_ten_estado.sort_values(by = 'top_ten_estado',ascending = False,inplace =True)
top_ten_estado

    market  top_ten_estado
0  Central         73897.0
3     West         65757.0
1     East         43196.0
2    South         29355.0

In [20]:
# encoding market: Central 1, West 2, East 3 y South 4. Usamos map para darle importancia al orden

In [ ]:
#a침o: codificamos el a침o 2011 con 1 y 2010 con 0, por orden de importancia. map

In [ ]:
# codificamos 'market_size' Major market con 1 y Small market con 0, por orden de importancia.

In [ ]:
# codificamos product_type sin orden de importancia. get_dummies

Orden de las variables categ칩ricas:
- Tienen orden: 'market_size','market' y 'a침o'. Utilizamos map
- No tienen orden: 'product_type'. Utilizamos get_dummies

In [24]:
mapa_market = {'Central':1,'West': 2, 'East': 3, 'South': 4} # encoding sobre 'market'

In [25]:
sales['market_encoding'] =sales['market'].map(mapa_market)

In [26]:
sales.head(2)

,state,market,market_size,profit,margin,sales,cogs,total_expenses,marketing,inventory,budget_profit,budget_margin,budget_sales,product_type,product,a침o,market_encoding
0,Connecticut,East,Small Market,107.0,176.0,292.0,116.0,69.0,38.0,962.0,110.0,160.0,270.0,Coffee,Columbian,2010,3
1,Connecticut,East,Small Market,75.0,135.0,225.0,90.0,60.0,29.0,1148.0,90.0,130.0,210.0,Coffee,Columbian,2010,3

In [27]:
mapa_market_size = {'Major Market':1,'Small Market': 0} # encoding sobre 'market_size'

In [28]:
sales['market_size_encoding'] =sales['market_size'].map(mapa_market_size)

In [29]:
sales.head(2)

,state,market,market_size,profit,margin,sales,cogs,total_expenses,marketing,inventory,budget_profit,budget_margin,budget_sales,product_type,product,a침o,market_encoding,market_size_encoding
0,Connecticut,East,Small Market,107.0,176.0,292.0,116.0,69.0,38.0,962.0,110.0,160.0,270.0,Coffee,Columbian,2010,3,0
1,Connecticut,East,Small Market,75.0,135.0,225.0,90.0,60.0,29.0,1148.0,90.0,130.0,210.0,Coffee,Columbian,2010,3,0

In [37]:
mapa_a침o = {2010:0,2011:1} # encoding sobre a침o

In [38]:
sales['a침o_encoding'] =sales['a침o'].map(mapa_a침o)

In [39]:
sales.head(2)

,state,market,market_size,profit,margin,sales,cogs,total_expenses,marketing,inventory,budget_profit,budget_margin,budget_sales,product_type,product,a침o,market_encoding,market_size_encoding,a침oencoding,a침o_encoding
0,Connecticut,East,Small Market,107.0,176.0,292.0,116.0,69.0,38.0,962.0,110.0,160.0,270.0,Coffee,Columbian,2010,3,0,NaN,0
1,Connecticut,East,Small Market,75.0,135.0,225.0,90.0,60.0,29.0,1148.0,90.0,130.0,210.0,Coffee,Columbian,2010,3,0,NaN,0

In [41]:
product_type_dummies = pd.get_dummies(sales['product_type'],dtype = int) # encoding sobre 'product_type

In [43]:
df_dummies = pd.concat([sales,product_type_dummies], axis = 1)

In [46]:
df_dummies.head(2)

,state,market,market_size,profit,margin,sales,cogs,total_expenses,marketing,inventory,...,product,a침o,market_encoding,market_size_encoding,a침oencoding,a침o_encoding,Coffee,Espresso,Herbal Tea,Tea
0,Connecticut,East,Small Market,107.0,176.0,292.0,116.0,69.0,38.0,962.0,...,Columbian,2010,3,0,NaN,0,1,0,0,0
1,Connecticut,East,Small Market,75.0,135.0,225.0,90.0,60.0,29.0,1148.0,...,Columbian,2010,3,0,NaN,0,1,0,0,0

Desechamos las columnas que ya no nos aportan: 'product' porque vamos a utilizar product_type que la engloba y 'state' porque est치 clasificada en 'market'.

In [47]:
df_dummies.drop(columns = ['product','state'],axis = 1, inplace =True)

In [48]:
df_dummies.head(2)

,market,market_size,profit,margin,sales,cogs,total_expenses,marketing,inventory,budget_profit,...,product_type,a침o,market_encoding,market_size_encoding,a침oencoding,a침o_encoding,Coffee,Espresso,Herbal Tea,Tea
0,East,Small Market,107.0,176.0,292.0,116.0,69.0,38.0,962.0,110.0,...,Coffee,2010,3,0,NaN,0,1,0,0,0
1,East,Small Market,75.0,135.0,225.0,90.0,60.0,29.0,1148.0,90.0,...,Coffee,2010,3,0,NaN,0,1,0,0,0

In [49]:
df_dummies.to_csv('ficheros/sales5.csv',index = False)

Preguntar si hay que a침adir los datos normalizados y estandarizados aunque no nos haya dado buen resultado